{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', path='styles/Dashboard/dashboard-styles.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', path='styles/Dashboard/dashboard-mobile-styles.css') }}" />
  {% block secondary_stylesheets %}{% endblock %}
{% endblock %}

{% block content %}
<div class="a_a-dashboard-container">
  <aside class="a_a-sidebar">
    <nav class="a_a-nav">
      <a href="/dashboard/documents" class="a_a-btn">Documents</a>
      <a href="/dashboard/collections" class="a_a-btn">Collections</a>
      <a href="/redoc" class="a_a-btn">Re-Doc</a>
      <a href="/docs" class="a_a-btn">Swagger</a>
      <a href="/metrics" class="a_a-btn">Metrics</a>
      <a href="/setting" class="a_a-btn">Settings</a>
    </nav>
    <form action="/logout" method="get" class="a_a-logout-form">
      <button class="a_a-logout-btn">Log Out</button>
    </form>
  </aside>

  <main class="a_a-main-content">
    <div class="a_a-data-display">
       {% block data_container %}
       {% endblock %}
       
    </div>
  </main>
</div>
{% if request.query_params.update == 'success' %}
  <div class="a_a-update-success-message">Profile updated successfully!</div>
{% endif %}
{% block scripts %}
<script src="{{ url_for('static', path='scripts/dashboard-script.js') }}"></script>
{% endblock %}
{% endblock %}
