{% extends "base.html" %}

{% block title %}Status{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', path='styles/Dashboard/metric-styles.css') }}" />
{% endblock %}

{% block content %}
<div class="status-container">
    <div class="status-message">✅ Status: OK</div>
    <div class="status-metrics">
        <h2>📊 Metrics</h2>
        <ul>
            <li><strong>Files Processed:</strong> {{ metrics.files_processed }}</li>
            <li><strong>Min Processing Time:</strong> {{ metrics.min_time_processed }} sec</li>
            <li><strong>Avg Processing Time:</strong> {{ metrics.avg_time_processed }} sec</li>
            <li><strong>Max Processing Time:</strong> {{ metrics.max_time_processed }} sec</li>
            <li><strong>Last Processed:</strong> {{ metrics.latest_file_processed_timestamp | datetimeformat }}</li>
            <li><strong>Total Upload Size:</strong> {{ metrics.total_upload_size_bytes }} bytes</li>
            <li><strong>Last Uploaded Filename:</strong> {{ metrics.last_uploaded_filename }}</li>
        </ul>
    </div>
</div>
{% endblock %}
